body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    height: 58px;
    width: 100vw;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing__page h3 {
    color: white;
    font-size: 26px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}
#landing__page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/resources/images/verkstad.png);
    background-size: contain;
}

#logo {
    width: 950px;
    margin-bottom: 100px;
}